<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Checked Out Books</title>
        <% include ../partials/head %> 
    </head>
    <body>
    <% include ../partials/nav %> 
    <div id="container" class="fluid">
    <main role="main">
    <% include ../partials/jumbotron %> 
    <% if (errors.length > 0) { %>
        <div class ="alert alert-danger alert-dismissible"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
        </div> 
    <% } %>
    <h1>Books That Are Currently Checked Out</h1>
    <hr/>
    <div class="container">
    <% checkedOutBooks.forEach(({title, book_image, status: { owner: { id, name, email }, checkedOut }}) => { %>
            <div class="card">
            <div class="card-body">
                <h3 class="card-title">Currently checked out by: <%= name.toUpperCase() %></h3>
                <h6 class="card-title">Contact Info: <%= email %></h6>
                <p class="card-text">Title: <%= title %></p>
                <p class="card-text">Date Checked Out: <%= checkedOut %></p>
            </div>
            </div>
    <% }) %> 
    </div>
    </main>
</div>
<% include ../partials/footer %> 
<% include ../partials/scripts %> 
</body>
</html>