<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Delete Book</title>
        <% include ../partials/head %> 
    </head>
    <body>
    <% include ../partials/nav %> 
    <div id="container" class="fluid">
    <main role="main">
    <% include ../partials/jumbotron %> 
    <% if (errors.length > 0) { %>
        <div class ="alert alert-danger alert-dismissible"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
        </div> 
    <% } %>
    <% if (message.length > 0) { %>
        <div class="alert alert-success alert-dismissible">
        <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
        </div>
        <% } %>
    <% if (book.length > 0) { %>
    <h1 class="admin">Delete a Book</h1>
    <% book.forEach((book) => { %>
        <form method="post" action="/api/admin/deletebook/<%= book.title %>?_method=DELETE">
            <div class="card-body admin">
                <h5 class="card-title" style="width: 40em;"><a href="/api/books/single-book/<%= book.title %>">Rank <%= book.rank %> - <%= book.title %></a>
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </h5>
                </div>
            </form>
    <% }) %>
    <% } else {%>
        <h1 class="admin">There are no books to delete.</h1>
    <% } %>
    </main>
</div>
<% include ../partials/footer %> 
<% include ../partials/scripts %> 
</body>
</html>