<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <% include ../partials/head %> 
    </head>
    <body>
    <% include ../partials/nav %> 
    <% include ../partials/jumbotron %> 
    <div id="container" class="fluid">
    <main role="main">
    <% if (errors.length > 0) { %>
        <div class ="alert alert-danger alert-dismissible text-center" style="width: 15px;"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
        </div> 
    <% } %>
    <div class="admin">
            <h1 class="admin">Current Book:</h1>
            <div class="admin">
                <% if (user.checked_books.length > 0) { %>
                    <p><b>Title:</b> <%= user.checked_books[0].bookTitle %></p>
                    <p><b>Checked Out:</b> <%= user.checked_books[0].checkOut %></p>
                    <div style="width: 250px;">
                    <% if (checkDueDate) { %>
                        <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                        <div class="alert alert-danger text-center" role="alert">
                            Due on <%= user.checked_books[0].due_date %>
                        </div>
                        </div>
                    <% } else { %>
                        <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                        <div class="alert alert-success text-center" role="alert">
                            Due on <%= user.checked_books[0].due_date %>
                        </div>
                        </div>
                    <% } %>
                    </div>
                <% } else { %>
                    <h3>...</h3>
                <% } %>
            </div>
    </div>
    <hr />
    <div class="home-container">
            <% book.forEach(({ rank, title, description, book_image, _id, status }) => { %>
                <div class="col-md-4" style="width: 200px;">
                    <div class="card">
                    <img
                        src="<%= book_image %>"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title">Rank: <%= rank %></h5>
                        <p class="card-text"><%= description %></p>
                        <% if (status.available) { %>
                            <div class="container-fluid">
                                <div class="alert alert-success text-center" role="alert">
                                    <a href="/api/books/single-book/<%= title %>" class="alert-link">Available!</a>
                                </div>
                            </div>
                        <% } else { %>
                            <% if (user.id === status.owner.id) { %>
                                <div class="container-fluid">
                                    <div class="alert alert-info text-center" role="alert">
                                        <a href="/api/books/single-book/<%= title %>" class="alert-link">Current Read..</a>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="container-fluid">
                                    <div class="alert alert-danger text-center" role="alert">
                                        <a href="/api/books/single-book/<%= title %>" class="alert-link">Available on <%= status.due_date.slice(0, 12) %></a>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
</div>
<% include ../partials/footer %> 
<% include ../partials/scripts %>
</body>
</html>