<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <% include ../partials/head %> 
    </head>
    <body>
    <% include ../partials/nav %> 
    <div id="container" class="fluid">
    <main role="main">
    <% include ../partials/jumbotron %> 
    <% if (errors.length > 0) { %>
        <div class ="alert alert-danger alert-dismissible"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
        </div> 
    <% } %>
    <div class="admin">
        <div>
            <h3>Current Book:</h3>
                <% if (user.checked_books.length > 0) { %>
                    <p>Title: <%= user.checked_books[0].bookTitle %></p>
                    <p>Checked Out: <%= user.checked_books[0].checkOut %></p>
                <% } else { %>
                    <p>You do not currently have a book checked out.</p>
                <% } %>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <% book.forEach(({ rank, title, description, book_image, _id, status }) => { %>
                <div class="col-md-4" style="width:20rem;">
                    <div class="card">
                    <img
                        src="<%= book_image %>"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title">Rank: <%= rank %></h5>
                        <p class="card-text"><%= description %></p>
                        <% if (status.available) { %>
                            <p style="color: green">Available: Yes! Click below.</p>
                        <% } else { %>
                            <% if (user.id === status.owner) { %>
                                <p style="color: blue">Available: Currently Reading.</p>
                            <% } else { %>
                                <p style="color: red;">Available: Not yet...</p>
                            <% } %>
                        <% } %>
                            <a href="/api/books/single-book/<%= title %>">More Info</a>
                    </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    </main>
</div>
<% include ../partials/footer %> 
<% include ../partials/scripts %> 
</body>
</html>