<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
<title>Single Book</title>
</head>
<body>
<% include ../partials/nav %>
<div class="container single-book" style="margin-top: 100px">
    <div class="row">
    <div class="col-md-6 col-xs-6">
        <div class="thumbnail">
        <img
            style="height:50%; width: 50%"
            src="<%=book.book_image%>"
            class="img-responsive"
        />
        </div>
    </div>
    <div
        class="col-md-6 col-xs-6"
        
    >
    <% if (errors.length > 0) { %>
        <div class ="alert alert-danger alert-dismissible"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
        </div> 
    <% } %>
    <div class="caption" >
        <h3>Rank: <%=book.rank%></h3>
        <h5>Title: <%= book.title %></h5>
        <h5>Author: <%= book.author.toUpperCase() %></h5>
        <p><%=book.description%></p>
        </div>
    
    <div id="outer">
        <div class="inner">
            <div class="btn-group" role="group">
            <button type="submit" class="btn btn-info btn-lg"><a href="<%= book.amazon_product_url %>" target="_blank" style="color: white">Buy on Amazon</a></button>
            </div>
        </div>
            <div class="inner">
        <form method="POST" action="/api/books/addtofavorites/<%= book.title %>?_method=PUT">
        <div class="btn-group" role="group">
        <button type="submit" class="btn btn-info btn-lg" style="margin-left: 10px; margin-right: 10px">
            Add to Favorites
        </button>
        </form>
        </div>
    </div>
    <% if (user.id === book.status.owner.id) { %>
        <div class="inner">
        <form method="POST" action="/api/books/checkinbook/<%= book.title %>?_method=PUT">
            <div class="btn-group" role="group">
            <button type="submit" class="btn btn-danger btn-lg" style="margin-left: 10px; margin-right: 10px">
                Check In
            </button>
            </form>
        </div>
        </div>
    <% } else { %>
        <div class="inner">
        <form method="POST" action="/api/books/checkoutbook/<%= book.title %>?_method=PUT">
            <div class="btn-group" role="group">
            <button type="submit" class="btn btn-success btn-lg" style="margin-left: 10px; margin-right: 10px">
                Checkout
            </button>
            </form>
        </div>
        </div>
    <% } %>
        </div>
    </div>
    </div>
</div>
<% include ../partials/scripts %>
</body>
</html>